body {
    margin: 0;
    padding: 0;
    font-family: "Nunito Sans", sans-serif;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
}
/* faq styles */
.faq-section {
    padding: 20px 40px;
    background:url(../images/faq.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.toggle-area {
    color: #fff;
    display: flex;
    justify-content: end;
    
}
.content-area{
    width: 572px;
    background: #004EC4;
    padding: 36px;
    border-radius: 20px;
}
.faq-title {
    font-size: 42px;
    font-weight: 700;
}
/* .accordion {
    display: flex;
    align-items: center;
    gap: 10px;
} */
.toggle-question {
    font-size: 20px;
    font-weight: 600;
}
.faq-footer {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px 0;
}
.faq-footer > a{
    color: #fff;
    text-decoration: none;
}

button {
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
    background: #fafafa;
}
.toggle {
    display: flex;
    align-items: center;
}
#toggle-icon:hover {
    cursor: pointer;
}
#toggle-content{
    display: none;
}